# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

The given dataset contains ad budgets for different media channels and the corresponding ad sales of XYZ firm. Evaluate the dataset to:

    Find the features or media channels used by the firm
    Create a model  to predict the sales outcome
    Split as training and testing datasets for the model
    Calculate the Mean Square Error (MSE)

#### 1: Import the dataset

In [1]:
#Import the required libraries
import pandas as pd

In [2]:
#Import the advertising dataset
ad_sales_df = pd.read_csv("../../Data/Advertising Budget and Sales.csv", index_col=0)

#### 2: Analyze the dataset

In [3]:
#View the initial few records of the dataset
ad_sales_df.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [4]:
#Check the total number of elements in the dataset
ad_sales_df.shape

(200, 4)

#### 3: Find the features or media channels used by the firm

In [5]:
#Check the number of observations (rows) and attributes (columns) in the dataset
ad_sales_df.shape

(200, 4)

In [6]:
#View the names of each of the attributes
ad_sales_df.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [7]:
#Create a feature object from the columns
feature_x = ad_sales_df.iloc[:, :-1]

In [8]:
#View the feature object
feature_x

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1               230.1                 37.8                     69.2
2                44.5                 39.3                     45.1
3                17.2                 45.9                     69.3
4               151.5                 41.3                     58.5
5               180.8                 10.8                     58.4
..                ...                  ...                      ...
196              38.2                  3.7                     13.8
197              94.2                  4.9                      8.1
198             177.0                  9.3                      6.4
199             283.6                 42.0                     66.2
200             232.1                  8.6                      8.7

[200 rows x 3 columns]

In [9]:
#Create a target object (use the sales column as it is the response of the dataset)
target_y = ad_sales_df.iloc[:, -1]

In [10]:
#View the target object
target_y

1      22.1
2      10.4
3       9.3
4      18.5
5      12.9
       ...
196     7.6
197     9.7
198    12.8
199    25.5
200    13.4
Name: Sales ($), Length: 200, dtype: float64

In [11]:
#Verify if all the observations have been captured in the feature object
feature_x.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)'], dtype='object')

In [12]:
#Verify if all the observations have been captured in the target object
target_y.name

'Sales ($)'

#### 5: Split the original dataset into training and testing datasets for the model

In [13]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split

x_train, x_text, y_train, y_test = train_test_split(feature_x, target_y, test_size=.25)

In [14]:
#Verify if the training and testing datasets are split correctly
x_train.shape, y_train.shape, x_text.shape, y_test.shape

((150, 3), (150,), (50, 3), (50,))

#### 6: Create a model  to predict the sales outcome

In [15]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linReg = LinearRegression()
predictor = linReg.fit(x_train, y_train)

In [16]:
#Print the intercept
predictor.intercept_

2.8676072641577814

In [17]:
#Print the coefficients 
predictor.coef_

array([ 0.04657038,  0.18890441, -0.00335418])

In [18]:
#Predict the outcome for the testing dataset
y_pred = predictor.predict(x_text)
y_pred

array([14.74270494, 17.38655762, 18.21816636, 20.07251376, 18.32193067,
       12.21021468, 10.1001058 ,  8.06991373,  8.79538013,  9.67165388,
       11.65773043,  5.66515219, 18.44158056, 10.57604094,  7.83475594,
       20.42231658, 19.82476374, 14.35567751, 18.6102091 , 10.38548673,
        7.76548993,  6.31954917, 11.08443841, 12.40967329, 13.97141537,
       15.27198981,  5.29925456,  8.08775622,  7.67330553, 15.39897715,
       10.47736759, 15.23441831, 17.12771795, 18.80009771, 19.0813915 ,
        8.7357998 , 14.17817525, 12.14927384, 13.70041856, 20.81990238,
       14.3175494 , 20.68992653,  8.37692191,  6.96038406, 14.00126632,
       17.85693109, 13.21378097, 15.28852195, 24.14330904, 15.42642617])

#### 7: Calculate the Mean Square Error (MSE)

In [19]:
#Import required libraries for calculating MSE (mean square error)
from sklearn.metrics import mean_squared_error

In [20]:
#Calculate the MSE
mean_squared_error(y_test, y_pred)

2.178281067814633